
<br />
<br />
<br />
<div class="w-auto p-3" style="background-color:white;">


    <div class="d-flex justify-content-center"><p class="font" style="font-size: 35px">What Can We Get You?</p></div>
    <br />

    <div class="container px-lg-5">
        <div class="row row-cols-2">
            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 30rem;">
                    <img src="~/Media/coffee.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a href="@Url.Action("HotBeverages", "Menu")"><lable class="font">Hot Beverages</lable></a></p>
                    </div>
                </div>
            </div>

            <div class="col py-3">
                <div class="card" style="width: 30rem;">
                    <img src="~/Media/icedCofee.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a href="@Url.Action("ColdBeverages", "Menu")"><lable class="font">Cold & Iced Beverages</lable></a></p>
                    </div>
                </div>
            </div>


            <div class="col py-3">
                <div class="card" style="width: 30rem;">
                    <img src="~/Media/pastries.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><lable class="font"><a href="@Url.Action("Pastries", "Menu")" >Pastries</a></lable></p>
                    </div>
                </div>
            </div>

            <div class="col py-3">
                <div class="card" style="width: 30rem;">
                    <img src="~/Media/cupcake.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><lable class="font"><a href="@Url.Action("CakesNCupcakes", "Menu")" >Cakes & Cupcakes</a></lable></p>
                    </div>
                </div>
            </div>


            <div class="col py-3 ">
                <div class="card" style="width: 30rem;">
                    <img src="~/Media/cookie2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><lable class="font"><a href="@Url.Action("cookies", "Menu")">cookies</a></lable></p>
                    </div>
                </div>
            </div>

            <div class="col py-3">
                <div class="card" style="width: 30rem;">
                    <img src="~/Media/sandwich.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><lable class="font"><a href="@Url.Action("Sandwitches", "Menu")">sandwiches</a></lable></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />