@using ShenanigansCoffeShop.Models


<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="mystyle.css">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    @*
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    *@
    <style>
        body {
            background-image: url('../../Media/Overzicht.png');
            background-repeat: no-repeat;
            background-position: right top;
            background-attachment: fixed;
        }

        .font {
            font-family: Lucida Handwriting;
            font-size: 20px;
            tab-size: 8;
        }

        img {
            width: 300px;
            height: 300px;
        }

        .tableBtn {
            width: 65px;
            height: 65px;
            background-color: lawngreen;
            border-radius: 50%;
        }
        table, th, td {
            border: 1px solid black;
            padding: 1rem;
        }
    </style>

</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid nav-link-light">
            <a class="navbar-brand"><img src="..\..\Media\GOAT.png" style="width:40px; height: 40px;" /></a>
            <a class="navbar-brand">@Html.ActionLink("SHENANIGANS", "Index", "Home", null, new { @class = "navbar-brand active link-light" })</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-light">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link link-light" })</li>
                    <li class="nav-item">@Html.ActionLink("Menu", "Menu", "Menu", null, new { @class = "nav-link link-light" })</li>

                    @if (Session["CurrentUserOBJ"] != null)
                    {
                        UserModel currentuser = (UserModel)Session["CurrentUserOBJ"];

                        if (currentuser.user_type == "ADMIN")
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Manage Items
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                    <li>@Html.ActionLink("Add Item", "AddItem", "Manager", null, new { @class = "dropdown-item nav-link link-light" })</li>
                                    <li>@Html.ActionLink("Edit Item", "EditTable", "Manager", null, new { @class = "dropdown-item nav-link link-light" })</li>
                                </ul>
                            </li>
                        }

                        <li class="nav-item ">@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-link link-light" })</li>
                        <li class="nav-item ">@Html.ActionLink("About Us", "About", "Home", null, new { @class = "nav-link link-light" })</li>
                        <li class="nav-item ">@Html.ActionLink("Choose Table", "ChooseTable", "Tables", null, new { @class = "nav-link link-light" })</li>
                        <li class="nav-item ">
                            @Html.ActionLink("Hello, " + currentuser.fname + " Sign-out", "Sign_out", "Login_Register", null, new { @class = "nav-link link-light" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-link link-light" })</li>
                        <li class="nav-item ">@Html.ActionLink("About Us", "About", "Home", null, new { @class = "nav-link link-light" })</li>
                        <li class="nav-item ">@Html.ActionLink("Sign-in", "Login", "Login_Register", null, new { @class = "nav-link link-light" })</li>
                    }



                <li>
                    <a class="navbar-brand" href="@Url.Action("OrderList", "OrderList")">
                        <img src="..\..\Media\shoppingcart.png" style="width:40px; height: 40px;" class="d-inline-block align-top" alt="" loading="lazy">
                    </a>
                </li>


                </ul>
                <form class="d-flex float-right">
                    <input class="form-control me-2 float-right" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light float-right" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer class="bg-dark text-center text-white fixed-bottom">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            SHANANIGANS since © 2022
        </div>
    </footer>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
